
.mainDiv{
    background-color: rgb(238, 247, 222);
    width: 350px;
    padding: 5px;
    margin: 10px;
}
.colorSpan{
    color: rgb(110, 140, 251);
}
h2{
    color:rgb(152, 199, 152);
}
h3{
    color:rgb(240, 112, 137)
}